In [2]:
import pandas as pd

ocean = pd.read_csv("Data_Level5_BAH_OceanCleanup.csv")

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ocean.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,86,"Cuyahoga County, OH, USA","Ohio, USA",United States,"41.49742, -81.56505","Land (beach, shoreline and inland)",12/22/2014,NaN,1.0,0.0,...,0,0,0,0,0,0,0,0,0,3.0
1,87,"Fairfax County, VA, USA","Virginia, USA",United States,"38.87456, -77.24428","Land (beach, shoreline and inland)",12/24/2014,NaN,1.0,0.0,...,0,0,0,0,0,0,0,0,2,10.0
2,92,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.04405","Land (beach, shoreline and inland)",2/19/2015,NaN,1.0,0.0,...,1,0,0,0,0,0,0,0,0,4.0
3,93,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2/19/2015,NaN,1.0,0.0,...,0,0,0,0,0,0,0,0,0,14.0
4,94,"Washington, DC, USA","District of Columbia, USA",United States,"38.90733, -77.0441","Land (beach, shoreline and inland)",2/19/2015,NaN,1.0,0.0,...,0,0,0,0,0,0,0,0,0,14.0

# Discussion of the data source

## Source Characteristics
Citizen Science initiative 

## Assumptions

In [16]:
ocean.columns

Index(['Cleanup ID', 'Zone', 'State', 'Country', 'GPS', 'Cleanup Type',
       'Cleanup Date', 'Group Name', 'Adults', 'Children', 'People', 'Pounds',
       'Miles', '# of bags', 'Cigarette Butts',
       'Food Wrappers (candy, chips, etc.)',
       'Take Out/Away Containers (Plastic)', 'Take Out/Away Containers (Foam)',
       'Bottle Caps (Plastic)', 'Bottle Caps (Metal)', 'Lids (Plastic)',
       'Straws, Stirrers', 'Forks, Knives, Spoons',
       'Beverage Bottles (Plastic)', 'Beverage Bottles (Glass)',
       'Beverage Cans', 'Grocery Bags (Plastic)', 'Other Plastic Bags',
       'Paper Bags', 'Cups, Plates (Paper)', 'Cups, Plates (Plastic)',
       'Cups, Plates (Foam)', 'Fishing Buoys, Pots & Traps',
       'Fishing Net & Pieces', 'Fishing Line (1 yard/meter = 1 piece)',
       'Rope (1 yard/meter = 1 piece)', 'Fishing Gear (Clean Swell)',
       '6-Pack Holders', 'Other Plastic/Foam Packaging',
       'Other Plastic Bottles (oil, bleach, etc.)', 'Strapping Bands',
       'Tobacco Packaging/Wrap', 'Other Packaging (Clean Swell)',
       'Appliances (refrigerators, washers, etc.)', 'Balloons', 'Cigar Tips',
       'Cigarette Lighters', 'Construction Materials', 'Fireworks', 'Tires',
       'Toys', 'Other Trash (Clean Swell)', 'Condoms', 'Diapers', 'Syringes',
       'Tampons/Tampon Applicators', 'Personal Hygiene (Clean Swell)',
       'Foam Pieces', 'Glass Pieces', 'Plastic Pieces',
       'Total Items Collected'],
      dtype='object')

In [15]:
ocean[['Cleanup Date']]

      Cleanup Date
0       12/22/2014
1       12/24/2014
2        2/19/2015
3        2/19/2015
4        2/19/2015
...            ...
37899    9/21/2019
37900    9/21/2019
37901    9/21/2019
37902    9/21/2019
37903          NaN

[37904 rows x 1 columns]

### Garbage density per area of cleanup location
First looking at finding average weight of each item type as suggested by problem statement document.

In [52]:
co = ocean[ocean.columns[14:-1]].to_numpy()
co.shape

(37904, 46)

In [53]:
dep = ocean[['Pounds']].to_numpy()
dep.shape

(37904, 1)

In [55]:
import numpy as np
# np.linalg.solve(co,dep)
# Not feasible since each variable does not have a consistent values across different entries/users
# For deriving garbage density per area, finding the average weight for each item may not be that valuable i.e. there are alternative ways of getting it